body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #1C1C1C;  
    width: 100%;
    height: 100%;
}
body::-webkit-scrollbar {
    width: 12px;
    background: #ADB5BD;
} 
body::-webkit-scrollbar-thumb {
    background: #282828;
    border-radius: 10px;
    border-right: 2px solid #000000;
} 
html{
    scroll-behavior: smooth;
}
li{
    margin: 0 1em;
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #EEF0F2;
}
input{
    background-color: #FAFAFF;
    border: none;
    outline: none;
    width: 100%;
    height: 3em;
    border-radius: 0.5em;
}
textarea{
    background-color: #FAFAFF;
    border: none;
    outline: none;
    width: 97%;
    height: 18em;
    border-radius: 0.5em;
    resize: vertical;
}
button{
    margin-top: 5%;
    width: 50%;
    height: 3em;
    border: none;
    border-radius: 2.5em;
}

::placeholder{
    color: #1c1c1c;
}
.icons{
    width: 1.5em;
}
.icons2{
    width: 1.5em;
}
.icon-usuario{
    width: 1.6em;
    margin-left: 1em;
    position: relative;
    left: 28em;
}
.icon-carrito{
    width: 1.6em;
    margin-left: 1em;
    position: relative;
    left: 28em;
}
.logotd{
    width: 2.8em;
    position: relative;
    left: -28em;
}
.nav-bar{
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    padding: 12px 20px;
    margin-top: 2%;
}
.menu2{
    display: inline;
    position: relative;
    left: 30em;
}
.menu{
    display: flex;
}
.menu li{
    padding-left: 30px;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color: #EEF0F2;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;  
}
.menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #EEF0F2;
    transition: 0.15s ease-in-out;
}
.open-menu , .close-menu{
    position: absolute;
    cursor: pointer;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
}
#check{
    display: none;
}
@media (max-width: 768px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #2e2d2d;
        transition: all 0.2s ease-in-out;
    }
    .menu li{
        margin-top: 40px;
    }
    .menu li a{
        padding: 10px;
    }
    .open-menu , .close-menu{
        display: block;
    }
    #check:checked ~ .menu{right: 0;}
    .icon-usuario{
        width: 2em;
        margin-left: 1em;
        position: relative;
        top: -26em;
        left: -20em;
    }
    .icon-carrito{
        width: 2em;
        margin-left: 1em;
        position: relative;
        top: -28.4em;
        left: -17em;
    }
}

 


/* CONTACTO */

.container-contacto{
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
    width: 50%;
}
.text-contactame{
    text-transform: uppercase;
    color: #7fffd4;
    font-weight: 700;
    font-size: 2.5em;
}

.text-nombre{
    color: #1c1c1c;
    font-weight: 600;
    text-align: center;
    font-size: 1em;
}
.text-email{
    margin-top: 2%;
    color: #1c1c1c;
    font-weight: 600;
    text-align: center;
    font-size: 1em;
}
    
.text-mensaje{
    margin-top: 10%;
    color: #1c1c1c;
    font-weight: 600;
    padding: 1em 1em;
    font-size: 1.2em;
}

.button-enviar{
    text-transform: uppercase;
    color: #1c1c1c;
    background-color: #FAFAFF;
    font-weight: 600;
    text-align: center;
    font-size: 1em;
}
.button-enviar:hover{
    background-color: #08AEEA;
    background-image: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);
}

/* FOOTER */
 

.container-footer{
    background-color: #ECEBE4;
    width: 100%;
    height: 14em;
    margin-top: 10%;
    
}
.text-redessociales{
    text-transform: uppercase;
    color: #5B5B5B;
    font-weight: 900;
    position: relative;
    text-align: center;
    top: 20%;
}
.container-redessociales{
    display: block;
    text-align: center;
}
.redessociales{
    width: 2em;
    display: inline;
    position: relative;
    top: 3em;
}
.text-copyright{
    margin-top: 5.5%;
    text-align: center;
}


/* Media Queries */
@media (min-width: 320px) and (max-width: 425px) {
    input{
        background-color: #FAFAFF;
        border: none;
        outline: none;
        width: 140%;
        height: 2em;
        border-radius: 0.5em;
        position: relative;
        left: -2em;
        font-weight: 500;
    }
    textarea{
        background-color: #FAFAFF;
        border: none;
        outline: none;
        width: 134%;
        height: 18em;
        border-radius: 0.5em;
        resize: vertical;
        position: relative;
        left: -2em;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    button{
        margin-top: 50%;
        width: 50%;
        height: 2em;
        border: none;
        border-radius: 2.5em;
        font-weight: 500;
    }
    .logotd{
        width: 2em;
        position: relative;
        left: -8em;
        top: -0.1em;
    }
    
    .nav-bar{
        padding: 12px 9px;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        margin-right: 0;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #2e2d2d;
        transition: all 0.2s ease-in-out;
    }
    .menu li{
        margin-top: 40px;
    }
    .menu li a{
        padding: 10px;
    }
    
    
    
    .open-menu , .close-menu{
        display: block;
    }
    #check:checked ~ .menu{right: 0;}
    .icon-usuario{
        width: 2em;
        margin-left: 1em;
        position: relative;
        top: -27.5em;
        left: -6em;
    }
    .icon-carrito{
        width: 2em;
        margin-left: 1em;
        position: relative;
        top: -29.9em;
        left: -3em;
    }
     /* CONTACTO */
    .text-contactame{
        text-transform: uppercase;
        color: #7fffd4;
        font-weight: 700;
        font-size: 2em;
    }
    
    .text-nombre{
        color: #1c1c1c;
        font-weight: 600;
        text-align: center;
        font-size: 1em;
    }
    .text-email{
        margin-top: 4%;
        color: #1c1c1c;
        font-weight: 600;
        text-align: center;
        font-size: 1em;
    }
    .text-mensaje{
        margin-top: 4%;
        color: #1c1c1c;
        font-weight: 600;
        padding: 0.5em 0.5em;
        font-size: 1em;
    }
    /* FOOTER */
    .container-footer{
        background-color: #ECEBE4;
        width: 100%;
        height: 6em;
        margin-top: 50%;
        
    }
    
    .redessociales{
        width: 1.4em;
        display: inline;
        position: relative;
        top: 0.2em;
    }
    .text-redessociales{
        text-transform: uppercase;
        color: #5B5B5B;
        font-weight: 900;
        position: relative;
        text-align: center;
        top: 6%;
        font-size: 0.7em;
    }
    .text-copyright{
        font-size: 0.8em;
        margin-top: 1%;
        color: #5B5B5B;
        font-weight: 500;
    }
} 
      
@media (min-width: 768px) and (max-width: 1023px){
    .logotd{
        width: 2.5em;
        position: relative;
        left: -19em;
    }
    .nav-bar{
        padding: 12px 9px;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #2e2d2d;
        transition: all 0.2s ease-in-out;
    }
    .menu li{
        margin-top: 40px;
    }
    .menu li a{
        padding: 10px;
    }
    .open-menu , .close-menu{
        display: block;
    }
    #check:checked ~ .menu{right: 0;}
    .icon-usuario{
        width: 2em;
        margin-left: 1em;
        position: relative;
        top: -27.95em;
        left: -15em;
    }
    .icon-carrito{
        width: 2em;
        margin-left: 1em;
        position: relative;
        top: -30.4em;
        left: -12em;
    }

    /* CONTACTO */
    .text-contactame{
        text-transform: uppercase;
        color: #7fffd4;
        font-weight: 700;
        font-size: 2.5em;
    }
    
    .text-nombre{
        color: #1c1c1c;
        font-weight: 600;
        text-align: center;
        font-size: 1em;
    }
    .text-email{
        margin-top: 4%;
        color: #1c1c1c;
        font-weight: 600;
        text-align: center;
        font-size: 1em;
    }
    .text-mensaje{
        margin-top: 4%;
        color: #1c1c1c;
        font-weight: 600;
        padding: 0.5em 0.5em;
        font-size: 1.2em;
    }
    /* FOOTER */
    
    .text-copyright{
        margin-top: 10%;
        text-align: center;
        }
    }